@font-face {
  font-family: "Raleway";
  src:
    url("./../fonts/Raleway-Medium.ttf") format('truetype'),
    url("./../fonts/RalewayMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src:  
    url("./../fonts/Raleway-Bold.ttf") format('truetype'),
    url("./../fonts/Raleway-Bold.woff2") format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
