.svg-logo {
  width: rem(35);
  height: rem(35);
  fill: #598D66;
}

.svg-cart {
  width: rem(24);
  height: rem(24);
  stroke: $black;
  fill: none;
  transition: all 0.3s ease;

  &:hover {
    stroke: $dark-green;
  }

  &:active {
    stroke: $black;
  }
}

.svg-footer {
  width: rem(24);
  height: rem(24);
  fill: #2C2D35;
  transition: all 0.3s ease;
  border-radius: rem(5);

  &:hover {
    fill: rgb(89, 141, 102);
  }

  &:active {
    fill: $black;
  }
}
