 $font-main: 'Raleway';

  $fontWeight-main: 500;
  $fontWeight-bold: 700;

  $black: rgba(44, 45, 53, 1);
  $white: rgba(244, 246, 245, 1);

  $light-gray: rgba(134, 146, 139, 1);
  $green: rgba(89, 141, 102, 1);
  $light-green: rgba(225, 237, 230, 1);
  $light-green-btn: rgba(212, 232, 217, 1);
  $dark-green: rgba(55, 107, 68, 1);
  $yellow: rgba(238, 219, 109, 1);
  $light-yellow: rgba(250, 235, 151, 1);
  $dark-yellow: rgba(217, 185, 73, 1);



