.card {
  width: 350px;
  height: 730px;
  background-color: var(--light-green);
  padding: 20px 20px 30px 20px;

  @media (max-width: 768px) {
    width: 330px;
  }

  @media (max-width: 700px) {
    width: 240px;
    height: 514px;
  }

  .card-img {
    width: 310px;
    height: 422px;
    margin-bottom: 15px;

    @media (max-width: 768px) {
      width: 290px;
    }

    @media (max-width: 700px) {
      width: 200px;
      height: 250px;
    }

  }

  h4 {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--light-gray);
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 10px;

    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 18.78px;
    }
  }

  h3 {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 30px;
    line-height: 35.22px;
    margin-bottom: 8px;

    @media (max-width: 700px) {
      font-size: 24px;
      line-height: 28.18px;
    }
  }

  .description {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 18px;
    line-height: 21.13px;
    margin-bottom: 30px;

    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 18.78px;
    }
  }

  .price {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--green);
    font-size: 24px;
    line-height: 28.18px;
    margin-bottom: 20px;

    @media (max-width: 700px) {
      font-size: 20px;
      line-height: 23.48px;
      margin-bottom: 10px;
    }
  }

  .btn {
    width: 310px;
    height: 65px;
    background-color: transparent;
    border: 1px solid var(--green);
    color: var(--green);
    font-size: 20px;
    line-height: 23, 48px;
    transition: all 0.3s ease;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 290px;
    }

    @media (max-width: 700px) {
      width: 200px;
      height: 50px;
      font-size: 18px;
      line-height: 21.13px;
    }
  }

  .btn:hover {
    color: var(--white);
    background-color: var(--green);
  }

  .btn:active {
    color: var(--green);
    background-color: var(--light-green-btn);
  }
}