.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  opacity: 1;
  padding: 15px;
  cursor: pointer;
  z-index: 15;
}

.close-btn:before,
.close-btn::after {
  content: '';
  position: absolute;
  top: 5px;
  height: 20px;
  width: 2px;
  background-color: $black;
}

.close-btn::before {
  transform: rotate(45deg);
}

.close-btn::after {
  transform: rotate(-45deg);
}

.cart {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fff;
  transition: right .5s ease;
  z-index: 2;
  overflow-y: auto;

  @media (max-width: 320px) {
    top: 60px;    
  }

  &.active {
    right: 0;    
  }

  .cart-container {
    padding: 50px 0;
  }

  .cart-empty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 100px);

    .cart-empty {
      font-family: $font-main;
      font-size: rem(28);
      font-weight: 700;
      color: $light-gray;
      margin-bottom: 30px;
    }
  
    .cart-empty-container .icon {
      fill: $green;
    }
  }

  .cart-order-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .cart-list {
    width: 100%;
    list-style: none;
  }

  .cart-order {
    font-family: $font-main;
    font-weight: $fontWeight-bold;
    font-size: rem(28);
    margin-bottom: 30px;
  }

  .cart-item {
    position: relative;
    margin: 20px;
    .cart-item-container {
      display: flex;
    }

    .close-btn {
      top: -15px;
    }    
  
    .cart-item-img {
      width: 100px;
      height: 100px;
    }
  }



  .cart-text {
    margin-top: 30px;
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .cart-item-title,
  .cart-item-price {
    font-family: $font-main;
    font-weight: $fontWeight-main;
    color: $black;
    font-size: 20px;
  }

  .btn {
    margin-top: 30px;
    width: 290px;
    height: 50px;
    background-color: transparent;
    border: 1px solid $green;
    color: $green;
    font-size: 20px;
    line-height: 23, 48px;
    transition: all 0.3s ease;
    cursor: pointer;

    @media (max-width: 768px) {
      width: 290px;
    }

    @media (max-width: 700px) {
      width: 200px;
      height: 50px;
      font-size: 18px;
      line-height: 21.13px;
    }

    @media (max-width: 550px) {
      width: 250px;
    }
  }

  .btn:hover {
    color: $white;
    background-color: $green;
  }

  .btn:active {
    color: $green;
    background-color: $light-green-btn;
  }

  .hidden {
    display: none;
  }

  .cart-total-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: rem(20);
    padding: 30px;
  }
}