.footer {
  margin: 0 auto;
  max-width: 1440px;
  padding: 23px 165px;
  // height: 168px;
  background-color: var(--light-green);
  display: grid;
  align-items: start;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'logo reproductions novelties about socials'
    'contact reproductions novelties about socials';

  

  &__logo {
    grid-area: logo;
    margin-bottom: 30px;
  }

  &__contact {
    grid-area: contact;
    width: 170px;
    margin-right: 115px;
  }

  &__reproductions {
    grid-area: reproductions;
    margin-right: 60px;
  }

  &__novelties {
    grid-area: novelties;
    margin-right: 60px;
  }

  &__about {
    grid-area: about;
    margin-right: 260px;
  }

  &__socials-container {
    grid-area: socials;
    // height: 5px;
  }

  @media (max-width: 1130px) {
    padding: 23px 35px;
    // justify-content: space-between;

    grid-template-areas:
      'logo logo contact contact'
      'reproductions novelties about socials';

    &__logo {
      grid-area: logo;
      margin-bottom: 50px;
    }

    &__contact {
      grid-area: contact;
      width: 170px;
      margin-right: 0px;
    }

    &__reproductions {
      grid-area: reproductions;
      margin-right: 0px;
    }

    &__novelties {
      grid-area: novelties;
      margin-right: 0px;
    }

    &__about {
      grid-area: about;
      margin-right: 0px;
    }

    &__socials-container {
      grid-area: socials; 
    }
  }

  h3 {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 20px;
    line-height: 23.48px;
  }

  a {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--light-gray);
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;

    @media (max-width: 700px) {
      font-size: 16px;
      line-height: 24px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 6px;    
  }

  li {
    list-style: none;
  }

  &__socials {
    display: flex;
    gap: 30px;
  }

  .copyright p {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--light-gray);
    font-size: 12px;
    line-height: 14.4px;
  }
}