.footer {
  margin: 0 auto;
  max-width: 1440px;
  padding: 23px 165px;
  background-color: $light-green;
  display: grid;
  align-items: start;
  grid-template-areas:
    'logo catalog novelties about socials'
    'contact catalog novelties about socials';

  &__logo {
    grid-area: logo;
    margin-bottom: 30px;
  }

  &__contact {
    grid-area: contact;
    width: 170px;
    margin-right: 115px;
  }

  &__catalog {
    grid-area: catalog;
    margin-right: 60px;
  }

  &__novelties {
    grid-area: novelties;
    margin-right: 60px;
  }

  &__about {
    grid-area: about;
    margin-right: 260px;
  }

  &__socials-container {
    grid-area: socials;
  }

  @media (max-width: 1300px) {
    padding: 23px 35px 0;

    grid-template-areas:
      'logo logo contact contact'
      'catalog novelties about socials';

    &__logo {
      margin-bottom: 50px;
    }

    &__contact {
      width: 100%;
      display: flex;
      justify-content: end;
      margin-right: 0px;
    }

    &__catalog {
      margin-right: 0px;
    }

    &__novelties {
      margin-right: 0px;
    }

    &__about {
      margin-right: 0px;
    }

    &__socials-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: end;
    }
  }

  @media (max-width: 700px) {
    justify-content: space-between;

    grid-template-areas:
      'logo contact contact'
      'catalog novelties about'
      'socials socials socials';

    &__logo {
      margin-bottom: 45px;
    }

    &__contact {
      width: 100%;
      display: flex;
      justify-content: end;
      margin-right: 0px;
    }

    &__catalog {
      margin-right: 0px;
      margin-bottom: 30px;
    }

    &__novelties {
      margin-right: 0px;
    }

    &__about {
      margin-right: 0px;
    }

    &__socials-container {
      position: relative;

      padding-left: 20px;
    }

    &__socials-container::before {
      position: absolute;
      content: '';
      top: -16px;
      right: -5px;
      width: 510px;
      height: 1px;
      background-color: #c3d1c6;
    }
  }

  @media (max-width: 550px) {
    padding: 23px 25px 23px 15px;

    grid-template-areas:
      'logo logo'
      'contact catalog'
      'novelties about'
      'socials socials';

    &__logo {
      margin-bottom: 20px;
    }

    &__catalog {
      margin-bottom: 20px;
    }

    &__about {
      margin-bottom: 40px;
    }

    &__socials-container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    &__socials-container::before {
      width: 290px;
    }
  }

  h3 {
    font-family: $font-main;
    font-weight: $fontWeight-main;
    color: $black;
    font-size: rem(20);
    line-height: 23.48px;

    @media (max-width: 550px) {
      font-size: rem(16);
      line-height: 18.78px;
    }
  }

  &__contact,
  a {
    font-family: $font-main;
    font-weight: $fontWeight-main;
    color: $light-gray;
    text-decoration: none;
    font-size: rem(18);
    line-height: 27px;

    @media (max-width: 700px) {
      font-size: rem(16);
      line-height: 24px;
    }
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  li {
    list-style: none;
  }

  &__socials {
    display: flex;
    align-items: center;
    gap: 30px;
  }

  .footer-link,
  .svg-img {
    transition: all 0.3 ease;
  }

  .footer-link:hover h3,
  .footer-link:hover,
  .svg-img:hover {
    color: #598D66;
    fill: #598D66;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    gap: 6px;

    @media (max-width: 700px) {
      flex-direction: row;
    }

    p {
      font-family: $font-main;
      font-weight: $fontWeight-main;
      color: $light-gray;
      font-size: rem(12);
      line-height: 14.4px;
    }
  }
}
