.footer {
  margin: 0 auto;
  max-width: 1440px;
  padding: 23px 165px;
  height: 168px;
  background-color: var(--light-green);
  display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
    "logo reproductions novelties about socials"
    "contact reproductions novelties about socials";


  .footer__logo {
    grid-area: logo;
    margin-bottom: 30px;
  }

  .footer__contact {
    grid-area: contact;
    width: 170px;
    margin-right: 115px;
  }

  .footer__reproductions {
    grid-area: reproductions;
    margin-right: 60px;
  }

  .footer__novelties {
    grid-area: novelties;
    margin-right: 60px;
  }

  .footer__about {
    grid-area: about;
   margin-right: 260px;
  }

  .footer__socials-container {
    grid-area: socials;
    height: 5px;
  }

  h3 {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 20px;
    line-height: 23.48px;
  }

  a {
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--light-gray);
    text-decoration: none;
    font-size: 18px;
    line-height: 27px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 6px;
  }

  li {
    list-style: none;
  }

  &__socials {
    display: flex;
    gap: 30px;
  }

  .copyright {
    display: flex;
    flex-direction: column;
    gap: 6px;
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--light-gray);
    font-size: 12px;
    line-height: 14.4px;
  }
}