.header {
  margin: 0 auto;
  padding: 0 165px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 1440px;
  height: 100px;
  background-color: var(--light-green);

  & li:hover {
    color: var(--dark-green);
  }

  .nav ul {
    display: flex;
    gap: 60px;
    list-style: none;
  }

  & li {
    cursor: pointer;
  }

  & a {
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 20px;
    line-height: 23.48px;
  }

  & a:hover,
  & li:hover svg {
    color: var(--dark-green);
    stroke: var(--dark-green);
    transition: all 0.3s ease;
  }

  & a:active,
  & li:active svg {
    color: var(--black);
    stroke: var(--black);
    background-color: var(--light-green-btn);
    transition: all 0.3s ease;
  }
}