.header {
  margin: 0 auto;
  padding: 38px 165px 27px;
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  background-color: var(--light-green);

  @media (max-width: 1000px) {
    padding: 38px 39px 27px;
  }

  @media (max-width: 700px) {
    padding: 17px 33px 10px;
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }

  @media (max-width: 550px) {
    padding: 0px;

    gap: 16px;
    z-index: 10;
  }

  .logo {
    position: relative;

    @media (max-width: 700px) {
      justify-content: center;
      width: 100%;
      background-color: #fff;
    }

    @media (max-width: 550px) {
      padding: 17px 0;
      z-index: 10;
    }
  }

  .logo::after {
    @media (max-width: 700px) {
      position: absolute;
      content: '';
      bottom: -16px;
      width: 510px;
      height: 1px;
      background-color: #c3d1c6;
    }

    @media (max-width: 550px) {
      width: 0;
      height: 0;
    }
  }

  .nav {
    position: relative;
    display: flex;
    gap: 60px;

    @media (max-width: 700px) {
      gap: 125px;
    }

    @media (max-width: 550px) {
      width: 100%;
      justify-content: space-between;
      align-items: center;
      background-color: var(--light-green);
      padding: 0 0 17px 0;
    }
  }

  .nav-menu {
    display: flex;
    gap: 60px;
    list-style: none;

    @media (max-width: 768px) {
      gap: 60px;
    }

    @media (max-width: 700px) {
      gap: 60px;
    }

    @media (max-width: 550px) {
      position: fixed;
      top: 0;
      left: -100vw;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      background-color: var(--light-green);
      overflow: hidden;
      transition-duration: 0.5s;
      z-index: 1;
    }
  }

  .nav-menu-open {
    left: 0;
  }

  li,
  .cart {
    cursor: pointer;
  }

  .cart {
    @media (max-width: 550px) {
      margin-right: 15px;
    }
  }

  a {
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 20px;
    line-height: 23.48px;

    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 21.13px;
    }
  }

  a:hover,
  li:hover,
  .cart:hover svg {
    color: var(--dark-green);
    stroke: var(--dark-green);
    transition: all 0.3s ease;
  }

  a:active,
  .cart:active svg {
    color: var(--black);
    stroke: var(--black);
    background-color: var(--light-green-btn);
    transition: all 0.3s ease;
  }
}
