.logo {
  display: flex;
  align-items: center;
  gap: 8px;

  // pointer-events: none;
  // cursor: pointer;

  // &:hover p,
  // &:hover svg {
  //   color: $dark-green;
  //   fill: $dark-green;
  //   transition: all 0.3s ease;
  // }
}

.logo-text {
  font-weight: $fontWeight-bold;
  color: $green;
  font-size: rem(20);
  line-height: 1.1;
}