#promo {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;
  padding-left: 165px;
  text-align: start;
  background-image: url(./../img/promo-bg.jpg);
  background-repeat: no-repeat;

  @media (max-width: 1400px) {
    padding-left: 39px;
  }

  @media (max-width: 768px) {
    background-image: url(./../img/promo-bg-768.jpg);
    background-size: cover;
  }

  @media (max-width: 700px) {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-image: url(./../img/promo-bg-576.jpg);
  }

  @media (max-width: 320px) {
    padding-top: 50px;
    padding-left: 15px;
    background-image: url(./../img/promo-bg-320.jpg);
  }

  .title {
    display: flex;
    gap: 20px;
    max-width: 521px;
    margin-bottom: 20px;

    @media (max-width: 1000px) {
      max-width: 450px;
      margin-bottom: 30px;

      img {
        width: 60px;
        height: 60px;
      }
    }

    @media (max-width: 700px) {
      max-width: 400px;
      margin-bottom: 20px;

      img {
        width: 50px;
        height: 50px;
      }
    }

    @media (max-width: 550px) {
      max-width: 100%;
      gap: 10px;
      margin-bottom: 18px;
    }

    h2 {
      color: var(--white);
    }
  }

  p {
    max-width: 555px;
    color: var(--white);

    @media (max-width: 1000px) {
      max-width: 665px;
    }

    @media (max-width: 700px) {
      max-width: 495px;
    }

    @media (max-width: 550px) {
      font-size: 16px;
      line-height: 22px;
      padding-right: 15px;
    }
  }

  .btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 253px;
    height: 65px;
    background-color: var(--yellow);
    border: 1px solid var(--yellow);
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 20px;
    line-height: 23, 48px;
    transition: all 0.3s ease;
    text-decoration: none;
    margin-top: 62px;

    @media (max-width: 1000px) {
      width: 210px;
      height: 59px;
      margin-top: 31px;
    }

    @media (max-width: 700px) {
      width: 190px;
      height: 50px;
      font-size: 18px;
      line-height: 21.13px;
      margin-top: 20px;
    }

    @media (max-width: 550px) {
      width: 290px;
      margin-top: 25px;
    }
  }

  .btn:hover {
    background-color: var(--light-yellow);
  }

  .btn:active {
    border: 1px solid var(--dark-yellow);
  }
}
