#reproductions {
  margin: 0 auto 68px;
  width: 100%;
  max-width: calc(1440px - 330px);
  display: flex;
  flex-direction: column;
  align-items: center;
  scroll-margin-top: 30px;

  .tabs-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: calc(1440px - 330px);
    margin-bottom: 30px;

    @media (max-width: 1150px) {
      padding: 0 40px;
    }

    @media (max-width: 700px) {
      flex-direction: column;
      padding: 0px 35px;
      margin-bottom: 20px;
    }

    @media (max-width: 550px) {
      padding: 0 15px;
    }
  }

  h2 {
    line-height: 44px;

    @media (max-width: 700px) {
      margin-bottom: 10px;
    }

    @media (max-width: 550px) {
      margin-bottom: 11px;
    }
  }

  .tabs-control {
    display: flex;
    gap: 28px;

    @media (max-width: 550px) {
      width: 100%;
      gap: 15px;
      overflow-x: auto;
      // scroll-snap-type: x mandatory;
      scrollbar-width: thin;
    }
  }

  .control-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--light-green-btn);
    font-family: var(--font-main);
    font-weight: var(--fontWeight-main);
    color: var(--black);
    font-size: 20px;
    line-height: 23.48px;
    border: 1px solid (var(--light-green));
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease;

    @media (max-width: 700px) {
      font-size: 18px;
      line-height: 21.13px;
    }
  }

  .control-item:hover {
    color: var(--white);
    background-color: var(--green);
    border: 1px solid (var(--green));
  }

  .control-item:active {
    color: var(--green);
    background-color: var(--light-green-btn);
    border: 1px solid (var(--green));
  }

  .control-item.active {
    color: var(--white);
    background-color: var(--dark-green);
    pointer-events: none;
  }

  .control-container {
    width: 1110px;
    height: 1564px;
  }

  .tabs-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
    transition: all 1s ease;
    height: 1490px;

    @media (max-width: 1150px) {
      height: 2250px;
      grid-template-columns: 1fr 1fr;
    }

    @media (max-width: 700px) {
      height: 1582px;
    }

    @media (max-width: 550px) {
      grid-template-columns: 1fr;
      height: calc(1058px * 3 + 52px);
    }
  }

  .tabs-animation {
    animation: showBlock 1.5s linear forwards;
  }

  @keyframes showBlock {
    0% {
      opacity: 0;
    }

    100% {
      opacity: 1;
    }
  }

  .tabs-hide-animation {
    animation: hideBlock 1.5s linear forwards;
  }

  @keyframes hideBlock {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }
}
