/* Base */

@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway-Medium.ttf") format("truetype"), url("./../fonts/RalewayMedium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Raleway";
  src: url("./../fonts/Raleway-Bold.ttf") format("truetype"), url("./../fonts/Raleway-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Raleway";
  font-weight: 500;
}

.lock {
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0);
  z-index: 2;
  display: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay.active {
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

h1 {
  color: rgb(44, 45, 53);
  font-size: 3.75rem;
  line-height: 1.1;
}

h1 span {
  color: rgb(89, 141, 102);
}

h2 {
  color: rgb(44, 45, 53);
  font-size: 2.5rem;
  line-height: 1;
}

p {
  color: rgb(44, 45, 53);
  font-size: 1.125rem;
  line-height: 1.5;
  letter-spacing: -0.0125rem;
}

.svg-logo {
  width: 2.1875rem;
  height: 2.1875rem;
  fill: #598D66;
}

.svg-cart {
  width: 1.5rem;
  height: 1.5rem;
  stroke: rgb(44, 45, 53);
  fill: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.svg-cart:hover {
  stroke: rgb(55, 107, 68);
}

.svg-cart:active {
  stroke: rgb(44, 45, 53);
}

.svg-footer {
  width: 1.5rem;
  height: 1.5rem;
  fill: #2C2D35;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 0.3125rem;
}

.svg-footer:hover {
  fill: rgb(89, 141, 102);
}

.svg-footer:active {
  fill: rgb(44, 45, 53);
}

/* Blocks */

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 8px;
}

.logo-text {
  font-weight: 700;
  color: rgb(89, 141, 102);
  font-size: 1.25rem;
  line-height: 1.1;
}

.mobile-menu-btn {
  display: none;
  position: relative;
  width: 25px;
  height: 25px;
  cursor: pointer;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  z-index: 2;
}

.mobile-menu-btn::before {
  content: "";
  width: 21px;
  height: 2px;
  background-color: rgb(76, 88, 102);
  -webkit-transform: translateY(-10px);
  -ms-transform: translateY(-10px);
  transform: translateY(-10px);
  -webkit-box-shadow: 0 10px rgb(76, 88, 102);
  box-shadow: 0 10px rgb(76, 88, 102);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-menu-btn::after {
  content: "";
  position: absolute;
  width: 21px;
  height: 2px;
  background-color: rgb(76, 88, 102);
  -webkit-transform: translateY(10px);
  -ms-transform: translateY(10px);
  transform: translateY(10px);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.mobile-menu-btn.menu-active::before {
  -webkit-transform: translateY(0) rotate(45deg);
  -ms-transform: translateY(0) rotate(45deg);
  transform: translateY(0) rotate(45deg);
  background-color: rgb(44, 45, 53);
  -webkit-box-shadow: 0 0 #555;
  box-shadow: 0 0 #555;
}

.mobile-menu-btn.menu-active::after {
  -webkit-transform: translateY(0) rotate(-45deg);
  -ms-transform: translateY(0) rotate(-45deg);
  transform: translateY(0) rotate(-45deg);
  background-color: rgb(44, 45, 53);
}

.hero {
  margin: 0 auto 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1110px;
  gap: 30px;
}

.hero .hero-img {
  width: 50%;
  padding-top: 310px;
  padding-bottom: 310px;
  background-image: url(./../img/bird.jpg);
  background-size: contain;
  background-repeat: no-repeat;
}

.hero .hero-text {
  width: 50%;
  padding-top: 145px;
}

.hero h1 {
  margin-bottom: 20px;
}

.hero h1 span {
  color: rgb(89, 141, 102);
}

.hero p {
  max-width: 540px;
  color: rgb(134, 146, 139);
  margin-bottom: 60px;
}

.hero .btn {
  width: 225px;
  height: 65px;
  background-color: transparent;
  border: 1px solid rgb(89, 141, 102);
  color: rgb(89, 141, 102);
  font-size: 20px;
  line-height: 23, 48px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.hero .btn:hover {
  color: rgb(244, 246, 245);
  background-color: rgb(89, 141, 102);
}

.hero .btn:active {
  color: rgb(89, 141, 102);
  background-color: rgb(212, 232, 217);
}

#catalog {
  margin: 0 auto 68px;
  width: 100%;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  scroll-margin-top: 30px;
}

#catalog .tabs-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
  max-width: 1110px;
  margin-bottom: 30px;
}

#catalog h2 {
  line-height: 44px;
}

#catalog .tabs-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 28px;
}

#catalog .control-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 10px 20px;
  background-color: rgb(212, 232, 217);
  color: rgb(44, 45, 53);
  font-size: 1.25rem;
  line-height: 1.2;
  border: 1px solid rgb(225, 237, 230);
  border-radius: 20px;
  cursor: pointer;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

#catalog .control-item:hover {
  color: rgb(244, 246, 245);
  background-color: rgb(89, 141, 102);
  border: 1px solid rgb(89, 141, 102);
}

#catalog .control-item:active {
  color: rgb(89, 141, 102);
  background-color: rgb(212, 232, 217);
  border: 1px solid rgb(89, 141, 102);
}

#catalog .control-item.active {
  color: rgb(244, 246, 245);
  background-color: rgb(55, 107, 68);
  pointer-events: none;
}

#catalog .control-container {
  width: 1110px;
  height: 1564px;
}

#catalog .tabs-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
  height: 1490px;
}

#catalog .tabs-animation {
  -webkit-animation: showBlock 1.5s linear forwards;
  animation: showBlock 1.5s linear forwards;
}

@-webkit-keyframes showBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes showBlock {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

#catalog .tabs-hide-animation {
  -webkit-animation: hideBlock 1.5s linear forwards;
  animation: hideBlock 1.5s linear forwards;
}

@-webkit-keyframes hideBlock {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes hideBlock {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.card {
  position: relative;
  width: 350px;
  height: 730px;
  background-color: rgb(225, 237, 230);
  padding: 20px 20px 30px 20px;
}

.card .card-img {
  width: 310px;
  height: 422px;
  margin-bottom: 15px;
}

.card h4 {
  color: rgb(134, 146, 139);
  font-size: 1.125rem;
  line-height: 1;
  margin-bottom: 10px;
}

.card h3 {
  color: rgb(44, 45, 53);
  font-size: 1.875rem;
  line-height: 1.2;
  margin-bottom: 8px;
}

.card .description {
  color: rgb(44, 45, 53);
  font-size: 1.125rem;
  line-height: 1.2;
  margin-bottom: 30px;
}

.card .price {
  color: rgb(89, 141, 102);
  font-size: 1.5rem;
  line-height: 1.2;
}

.card .btn {
  position: absolute;
  bottom: 30px;
  width: 310px;
  height: 65px;
  background-color: transparent;
  border: 1px solid rgb(89, 141, 102);
  color: rgb(89, 141, 102);
  font-size: 1.25rem;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.card .btn:hover {
  color: rgb(244, 246, 245);
  background-color: rgb(89, 141, 102);
}

.card .btn:active {
  color: rgb(89, 141, 102);
  background-color: rgb(212, 232, 217);
}

#promo {
  margin: 0 auto;
  max-width: 1440px;
  padding-top: 70px;
  padding-bottom: 70px;
  background-size: cover;
  padding-left: 165px;
  text-align: start;
  background-image: url(./../img/promo-bg.jpg);
  background-repeat: no-repeat;
}

#promo .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  max-width: 521px;
  margin-bottom: 20px;
}

#promo .title h2 {
  color: rgb(244, 246, 245);
}

#promo p {
  max-width: 555px;
  color: rgb(244, 246, 245);
}

#promo .btn {
  display: inline-block;
  width: 253px;
  height: 65px;
  background-color: rgb(238, 219, 109);
  border: 1px solid rgb(238, 219, 109);
  color: rgb(44, 45, 53);
  font-size: 1.25rem;
  line-height: 4.0625rem;
  text-align: center;
  white-space: nowrap;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  text-decoration: none;
  margin-top: 62px;
}

#promo .btn:hover {
  background-color: rgb(250, 235, 151);
}

#promo .btn:active {
  border: 1px solid rgb(217, 185, 73);
}

#about {
  margin: 0 auto 0px;
  padding-top: 70px;
  max-width: 1110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

#about .about-bg {
  width: 445px;
  padding-bottom: 510px;
  background-image: url(./../img/about-bg.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#about .about-description h2 {
  margin: 127px 0 20px 0;
}

#about .about-description p {
  max-width: 635px;
  margin-bottom: 20px;
}

#about .about-description .img-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.footer {
  margin: 0 auto;
  max-width: 1440px;
  padding: 23px 165px;
  background-color: rgb(225, 237, 230);
  display: grid;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: start;
  grid-template-areas: "logo catalog novelties about socials" "contact catalog novelties about socials";
}

.footer__logo {
  grid-area: logo;
  margin-bottom: 30px;
}

.footer__contact {
  grid-area: contact;
  width: 170px;
  margin-right: 115px;
}

.footer__catalog {
  grid-area: catalog;
  margin-right: 60px;
}

.footer__novelties {
  grid-area: novelties;
  margin-right: 60px;
}

.footer__about {
  grid-area: about;
  margin-right: 260px;
}

.footer__socials-container {
  grid-area: socials;
}

.footer h3 {
  color: rgb(44, 45, 53);
  font-size: 1.25rem;
  line-height: 23.48px;
}

.footer__contact,
.footer a {
  color: rgb(134, 146, 139);
  text-decoration: none;
  font-size: 1.125rem;
  line-height: 27px;
}

.footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}

.footer li {
  list-style: none;
}

.footer__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  gap: 30px;
}

.footer .footer-link {
  -webkit-transition: all 0.3 ease;
  transition: all 0.3 ease;
}

.footer .footer-link:hover h3,
.footer .footer-link:hover {
  color: #598D66;
}

.footer .copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 6px;
}

.footer .copyright p {
  color: rgb(134, 146, 139);
  font-size: 0.75rem;
  line-height: 14.4px;
}

.close-btn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 20px;
  height: 20px;
  opacity: 1;
  padding: 15px;
  cursor: pointer;
  z-index: 15;
}

.close-btn:before,
.close-btn::after {
  content: "";
  position: absolute;
  top: 5px;
  height: 20px;
  width: 2px;
  background-color: rgb(44, 45, 53);
}

.close-btn::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.close-btn::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.cart {
  position: fixed;
  top: 0;
  right: -320px;
  width: 320px;
  min-height: 100vh;
  max-height: 100vh;
  background-color: #fff;
  -webkit-transition: right 0.5s ease;
  transition: right 0.5s ease;
  z-index: 2;
  overflow-y: auto;
}

.cart.active {
  right: 0;
}

.cart .cart-container {
  padding: 50px 0;
}

.cart .cart-empty-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100vh - 100px);
}

.cart .cart-empty-container .cart-empty {
  font-size: 1.75rem;
  font-weight: 700;
  color: rgb(134, 146, 139);
  margin-bottom: 30px;
}

.cart .cart-empty-container .cart-empty-container .icon {
  fill: rgb(89, 141, 102);
}

.cart .cart-order-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.cart .cart-list {
  width: 100%;
  list-style: none;
}

.cart .cart-order {
  font-weight: 700;
  font-size: 1.75rem;
  margin-bottom: 30px;
}

.cart .cart-item {
  position: relative;
  margin: 20px;
}

.cart .cart-item .cart-item-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.cart .cart-item .close-btn {
  top: -15px;
}

.cart .cart-item .cart-item-img {
  width: 100px;
  height: 100px;
}

.cart .cart-text {
  margin-top: 30px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  gap: 15px;
}

.cart .cart-item-title,
.cart .cart-item-price {
  color: rgb(44, 45, 53);
  font-size: 1.25rem;
}

.cart .btn {
  margin-top: 30px;
  width: 290px;
  height: 50px;
  background-color: transparent;
  border: 1px solid rgb(89, 141, 102);
  color: rgb(89, 141, 102);
  font-size: 1.25rem;
  line-height: 1.2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  cursor: pointer;
}

.cart .btn:hover {
  color: rgb(244, 246, 245);
  background-color: rgb(89, 141, 102);
}

.cart .btn:active {
  color: rgb(89, 141, 102);
  background-color: rgb(212, 232, 217);
}

.cart .hidden {
  display: none;
}

.cart .cart-total-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  font-size: 1.25rem;
  padding: 30px;
}

.header {
  margin: 0 auto;
  padding: 38px 165px 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1440px;
  background-color: rgb(225, 237, 230);
}

.header .logo {
  position: relative;
}

.header .nav {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
}

.header .nav-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 60px;
  list-style: none;
}

.header .nav .nav-menu-open {
  left: 0;
}

.header li,
.header .cart-btn {
  cursor: pointer;
  position: relative;
}

.header .cart-btn span {
  position: absolute;
  height: 13px;
  width: 13px;
  border-radius: 50%;
  left: 0.0625rem;
  top: 0.0625rem;
  background-color: rgb(89, 141, 102);
  font-size: 0.625rem;
  font-weight: 700;
  line-height: 0.8125rem;
  text-align: center;
  color: rgb(244, 246, 245);
}

.header a {
  text-decoration: none;
  color: rgb(44, 45, 53);
  font-size: 1.25rem;
  line-height: 1;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.header a:hover,
.header li:hover {
  color: rgb(55, 107, 68);
}

.header a:active {
  color: rgb(44, 45, 53);
  background-color: rgb(212, 232, 217);
}

@supports (-webkit-appearance:none) {
  .hero .hero-img {
    background-image: url(./../img/bird.webp);
  }

  #promo {
    background-image: url(./../img/promo-bg.webp);
  }

  #about .about-bg {
    background-image: url(./../img/about-bg.webp);
  }
}

@media (max-width: 1400px) {
  #promo {
    padding-left: 39px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1300px) {
  .footer {
    padding: 23px 35px 0;
    grid-template-areas: "logo logo contact contact" "catalog novelties about socials";
  }

  .footer__logo {
    margin-bottom: 50px;
  }

  .footer__contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
  }

  .footer__catalog {
    margin-right: 30px;
  }

  .footer__novelties {
    margin-right: 30px;
  }

  .footer__about {
    margin-right: 30px;
  }

  .footer__socials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1150px) {
  #catalog .tabs-header {
    padding: 0 40px;
  }

  #catalog .tabs-container {
    height: 2250px;
    grid-template-columns: 1fr 1fr;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 1000px) {
  #promo .title {
    max-width: 450px;
    margin-bottom: 20px;
  }

  #promo .title img {
    width: 60px;
    height: 60px;
  }

  #promo p {
    max-width: 665px;
  }

  #promo .btn {
    width: 210px;
    height: 59px;
    line-height: 3.6875rem;
    margin-top: 31px;
  }

  .header {
    padding: 38px 39px 27px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 768px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1;
  }

  h2 {
    font-size: 1.875rem;
    line-height: 1;
  }

  .hero .hero-img {
    padding-bottom: 60px;
    background-position-x: right;
  }

  .hero .hero-text {
    padding-top: 35px;
    margin-bottom: 40px;
  }

  .hero p {
    max-width: 330px;
    margin-bottom: 40px;
  }

  .hero .btn {
    width: 210px;
    height: 60px;
  }

  .card {
    width: 330px;
  }

  .card .card-img {
    width: 290px;
  }

  .card .btn {
    width: 290px;
  }

  #promo {
    background-image: url(./../img/promo-bg-768.jpg);
    background-size: cover;
  }

  #about {
    padding-top: 40px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 0 36px 67px;
  }

  #about .about-bg {
    margin-top: 30px;
    width: 100%;
    background-size: contain;
  }

  #about .about-description h2 {
    margin: 10px 0 30px;
  }

  #about .about-description p {
    max-width: 700px;
    margin-bottom: 30px;
  }

  .cart .btn {
    width: 290px;
  }

  .header .nav-menu {
    gap: 60px;
  }

  .header a {
    font-size: 1.125rem;
    line-height: 21.13px;
  }

@supports (-webkit-appearance:none) {
    #promo {
      background-image: url(./../img/promo-bg-768.webp);
    }
}
}

@media (max-width: 700px) {
  h1 {
    font-size: 2.25rem;
    line-height: 1;
  }

  h2 {
    font-size: 1.5rem;
    line-height: 1;
  }

  p {
    font-size: 1rem;
    line-height: 1.32;
  }

  .hero {
    margin: 0 25px 0px;
    gap: 25px;
  }

  .hero .hero-img {
    padding-top: 0;
    background-position: right;
    width: 40%;
  }

  .hero .hero-text {
    width: 55%;
    padding-top: 50px;
  }

  .hero h1 {
    margin-bottom: 10px;
  }

  .hero p {
    max-width: 249px;
    margin-bottom: 11px;
    line-height: 24px;
  }

  .hero .btn {
    width: 175px;
    height: 50px;
    font-size: 18px;
  }

  #catalog .tabs-header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: 0px 35px;
    margin-bottom: 20px;
  }

  #catalog h2 {
    margin-bottom: 10px;
  }

  #catalog .control-item {
    font-size: 18px;
    line-height: 21.13px;
  }

  #catalog .tabs-container {
    height: 1582px;
  }

  .card {
    width: 240px;
    height: 514px;
  }

  .card .card-img {
    width: 200px;
    height: 250px;
    margin-bottom: 10px;
  }

  .card h4 {
    font-size: 1rem;
  }

  .card h3 {
    font-size: 1.5rem;
  }

  .card .description {
    font-size: 1rem;
  }

  .card .price {
    position: absolute;
    bottom: 90px;
    font-size: 1.25rem;
  }

  .card .btn {
    width: 200px;
    height: 50px;
    font-size: 1.125rem;
  }

  #promo {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 30px;
    background-image: url(./../img/promo-bg-576.jpg);
  }

  #promo .title {
    max-width: 400px;
    margin-bottom: 20px;
  }

  #promo .title img {
    width: 50px;
    height: 50px;
  }

  #promo p {
    max-width: 495px;
  }

  #promo .btn {
    width: 190px;
    height: 50px;
    font-size: 1.125rem;
    line-height: 3.125rem;
    margin-top: 20px;
  }

  #about {
    padding-top: 20px;
    margin-bottom: 45px;
  }

  #about .about-bg {
    padding-bottom: 375px;
  }

  #about .about-description h2 {
    margin: 0 0 22px;
  }

  #about .about-description p {
    margin-bottom: 20px;
  }

  .footer {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    grid-template-areas: "logo contact contact" "catalog novelties about" "socials socials socials";
  }

  .footer__logo {
    margin-bottom: 45px;
  }

  .footer__contact {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: end;
    margin-right: 0px;
  }

  .footer__catalog {
    margin-right: 0px;
    margin-bottom: 30px;
  }

  .footer__novelties {
    margin-right: 0px;
  }

  .footer__about {
    margin-right: 0px;
  }

  .footer__socials-container {
    position: relative;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 20px;
  }

  .footer__socials-container::before {
    position: absolute;
    content: "";
    top: -16px;
    right: -5px;
    width: 510px;
    height: 1px;
    background-color: #c3d1c6;
  }

  .footer__contact,
  .footer a {
    font-size: 1rem;
    line-height: 24px;
  }

  .footer .copyright {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
  }

  .cart .btn {
    width: 200px;
    height: 50px;
    font-size: 1.125rem;
    line-height: 1.2;
  }

  .header {
    padding: 17px 33px 10px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 33px;
  }

  .header .logo {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
  }

  .header .logo::after {
    position: absolute;
    content: "";
    bottom: -16px;
    width: 510px;
    height: 1px;
    background-color: #c3d1c6;
  }

  .header .nav {
    gap: 125px;
  }

  .header .nav-menu {
    gap: 60px;
  }

@supports (-webkit-appearance:none) {
    #promo {
      background-image: url(./../img/promo-bg-576.webp);
    }
}
}

@media (max-width: 550px) {
  h1 {
    font-size: 1.875rem;
    line-height: 1;
  }

  h2 {
    line-height: 1;
  }

  p {
    font-size: 0.875rem;
    line-height: 1.5;
  }

  .mobile-menu-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 15px;
  }

  .hero {
    margin: 0 15px 15px;
  }

  .hero .hero-img {
    display: none;
  }

  .hero .hero-text {
    width: 100%;
    padding-top: 60px;
  }

  .hero h1 {
    margin-bottom: 17px;
  }

  .hero p {
    max-width: 100%;
    margin-bottom: 40px;
    line-height: 21px;
  }

  .hero .btn {
    width: 154px;
  }

  #catalog .tabs-header {
    padding: 0 15px;
  }

  #catalog h2 {
    margin-bottom: 11px;
  }

  #catalog .tabs-control {
    width: 100%;
    gap: 15px;
    overflow-x: auto;
    scrollbar-width: thin;
  }

  #catalog .tabs-container {
    grid-template-columns: 1fr;
    height: 3226px;
  }

  .card {
    width: 290px;
  }

  .card .card-img {
    width: 250px;
  }

  .card .btn {
    width: 250px;
  }

  #promo .title {
    max-width: 100%;
    gap: 10px;
    margin-bottom: 18px;
  }

  #promo p {
    font-size: 1rem;
    line-height: 22px;
    padding-right: 15px;
  }

  #promo .btn {
    width: 290px;
    margin-top: 25px;
  }

  #about {
    margin: 0 15px 90px;
    padding-top: 30px;
  }

  #about .about-bg {
    padding-bottom: 285px;
  }

  #about .about-description p {
    font-size: 1rem;
    line-height: 22px;
    margin-bottom: 20px;
  }

  #about .about-description .img-block {
    gap: 25px;
  }

  .footer {
    padding: 23px 25px 23px 15px;
    grid-template-areas: "logo logo" "contact catalog" "novelties about" "socials socials";
  }

  .footer__logo {
    margin-bottom: 20px;
  }

  .footer__catalog {
    margin-bottom: 20px;
  }

  .footer__about {
    margin-bottom: 40px;
  }

  .footer__socials-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }

  .footer__socials-container::before {
    width: 290px;
  }

  .footer h3 {
    font-size: 1rem;
    line-height: 18.78px;
  }

  .cart .btn {
    width: 250px;
  }

  .header {
    padding: 0px;
    gap: 16px;
    z-index: 10;
  }

  .header .logo {
    background-color: #fff;
    padding: 17px 0;
    z-index: 10;
  }

  .header .logo::after {
    width: 0;
    height: 0;
  }

  .header .nav {
    width: 100%;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgb(225, 237, 230);
    padding: 0 0 17px 0;
  }

  .header .nav-menu {
    position: fixed;
    top: 0;
    left: -100vw;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: rgb(225, 237, 230);
    overflow: hidden;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    z-index: 1;
  }

  .header .cart-btn {
    margin-right: 15px;
  }

@supports (-webkit-appearance:none) {

}
}

@media (max-width: 320px) {
  #promo {
    padding-top: 50px;
    padding-left: 15px;
    background-image: url(./../img/promo-bg-320.jpg);
  }

  .cart {
    top: 60px;
  }

@supports (-webkit-appearance:none) {
    #promo {
      background-image: url(./../img/promo-bg-320.webp);
    }
}
}